.avatar {
    margin: 5px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    }

    .avatar__image{width:30px;max-width:30px;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box;height:30px;border:none;background-color:#eee;}
