<div
  *ngIf="selectingArea"
  class="selecting"
  (mousedown)="startSelect($event)"
  (mouseup)="endSelect($event)"></div>

<mat-toolbar color="primary">
  <span>MS Graph API PoC</span>

  <div class="spacer"></div>

  <ng-container *ngIf="!(service.user$ | async)">
    <button (click)="signIn()" mat-button>Sign in {{service.user$ | async}}</button>
  </ng-container>

  <ng-container *ngIf="service.user$ | async as user">
    <div class="user">
      <mat-icon>
        account_circle
      </mat-icon>
      Welcome: {{user.displayName}}
      <button mat-raised-button (click)="singOut()">Sign out</button>
    </div>
  </ng-container>
</mat-toolbar>

<h2 *ngIf="!(service.user$ | async)">You are not logged in</h2>

<div class="content" *ngIf="service.user$ | async">
  <div class="side">
    <mat-list>
      <h3 mat-subheader>Teams</h3>
      <mat-list-item *ngFor="let c of teams" (click)="enterTeam(c)" [ngClass]="{'active-team': c === team}">
        <mat-icon mat-list-icon>group</mat-icon>
        <h4 mat-line>{{c.displayName}}</h4>
        <p mat-line> {{c.description}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader *ngIf="channels.length">Channels</h3>
      <mat-list-item *ngFor="let c of channels" (click)="enterChannel(c)" [ngClass]="{'active-team': c === channel}">
          <mat-icon mat-list-icon>chat</mat-icon>
          <h4 mat-line>{{c.displayName}}</h4>
          <p mat-line> {{c.description}} </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="chat">
    <app-chat-client class="messagepanel" [team]="team" [channel]="channel"></app-chat-client>
    <app-chat-input class="inputpanel" [team]="team" [channel]="channel"></app-chat-input>
  </div>

</div>



