<div
  *ngIf="selectingArea"
  class="selecting"
  (mousedown)="startSelect($event)"
  (mouseup)="endSelect($event)">
</div>

<mat-toolbar color="primary">
  <span>MS Graph API PoC</span><div class="spacer"></div>
  <div *ngIf="service.user$ | async">
  <mat-form-field>
    <mat-label>Teams: </mat-label>
    <mat-select (selectionChange)="enterTeam($event)" >
      <mat-option *ngFor="let c of teams" [value]="c">
        {{c.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Channels: </mat-label>
    <mat-select [disabled]="channels.length == 0" (selectionChange)="enterChannel($event)">
      <mat-option *ngFor="let c of channels"  [value]="c">
        {{c.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <ng-container *ngIf="!(service.user$ | async)">
    <button (click)="signIn()" mat-button>Sign in {{service.user$ | async}}</button>
  </ng-container>

  <ng-container *ngIf="service.user$ | async as user">
    <div class="user">
      <mat-icon>
        account_circle
      </mat-icon>
      Welcome: {{user.displayName}}
      <button mat-raised-button (click)="singOut()">Sign out</button>
    </div>
  </ng-container>
</mat-toolbar>

<h2 *ngIf="!(service.user$ | async)">You are not logged in</h2>

<div *ngIf="service.user$ | async" class="mainContent">
    <as-split unit="percent" gutterSize="5">
        <as-split-area size="80">
          <div class="mainpanel">Main window</div>
        </as-split-area>
        <as-split-area size="20" class="chat-section">
          <app-chat-panel [team]="team" [channel]="channel"></app-chat-panel>
        </as-split-area>
    </as-split>
</div>



