.spacer {
    flex: 1;
}

h2 {
    font-size: 40px;
    opacity: 0.2;
    left: 20vw;
    top: 15vh;
    position: relative;
}

mat-toolbar {
    font-size: 14px;

    span {
        font-weight: 400;
        font-size: 17px;
    }
}

.user {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    mat-icon {
        margin-right: 15px;
    }

    button {
        margin-left: 20px;
    }
}

mat-form-field {
    margin:25px;
}

.file {
    background: #f1f1f1;
    display: inline-block;
    padding: 5px 12px;
    margin-right: 10px;
}

.ufiles {
    display: block;
    margin: 10px 0;
}

.quote {
    border-left: 6px solid #aaa;
    background: #e7e7e7;
    padding: 20px;
    margin-bottom: 15px;
}

.replies {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0 0 30px;
    background: #fafafa;
    border-top: 1px solid #f1f1f1;
}

.reply {
    padding: 10px;
}

.selecting {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: crosshair;
    z-index: 9999;
}

.mainContent{
    position:fixed;
    top:65px;
    bottom:0px;
    width: 100vw;
}

.mainpanel {
    padding: 50px;
    background-color: white;
    top: 65px;
    bottom: 0px;
    height: 100%;
    overflow-y: hidden;
}

.chat-section {
    position: relative;
}