<div *ngIf="reactions">
  <ul>
    <ng-container *ngFor="let r of reactions">
      <li>
          <img ng-src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/yes/20.png?v=4" src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/yes/20.png?v=4">
          <span>1</span>
      </li>
    </ng-container>
  </ul>
</div>

<!-- *ng-src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/laugh/20.png?v=4" data-tid="messageReactionImage-laugh" title="" src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/laugh/20.png?v=4">-->