<div class="reactions">
  <ul>
    <ng-container *ngFor="let r of reactions">
      <li>
        <div dir="auto" aria-hidden="true">
          <img class="reaction-size reaction" ng-src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/yes/20.png?v=4" src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/yes/20.png?v=4">
          <span> 1 </span>
        </div>
      </li>
    </ng-container>
  </ul>
</div>

<!-- *ng-src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/laugh/20.png?v=4" data-tid="messageReactionImage-laugh" title="" src="https://statics.teams.microsoft.com/evergreen-assets/skype/v2/laugh/20.png?v=4">-->