.reactions
{
    display:inline;
    ul{
        right:0px;
        top:0px;
        li {
            display:inline;
            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}