.chatContainer{
    // display: grid;
    // grid-template-rows: auto 50px;
}


.messagepanel{
    position: absolute;
    bottom: 50px;
    top: 0px;
    width: 100%;

}

.inputpanel{
     position: absolute;
     bottom: 5px;
     width: 100%;

}