

.big {
    flex: 1;
    padding: 0 80px;
    height: 65vh;
    overflow-y: scroll;

    .mat-card {
        margin-bottom: 15px;
        position: relative;
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-left: 12px;

        button {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

    .info {
        font-size: 11px;
        margin-bottom: 10px;
        color: #252423;
        font-weight: 700;
        display: flex;
        flex-grow: 1;

        .datePosted
        {
            color:#706c68;
            margin-left: 10px;
        }

    }
}

.avatar {
    margin: 5px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    }

.reply{

        padding-right: 8px;
        padding-left: 12px;

    .info {

        margin-bottom: 10px;
        background-color: #faf9f8;
        font-weight: 700;
        display: flex;
        flex-grow: 1;

        .datePosted
        {
            color:#706c68;
            margin-left: 10px;
        }

        img.avatar {
            margin: 2px;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
    }
}


.teams-card {
    background: #efefef;
    margin: 30px auto 0;
    max-width: 80%;
    padding: 20px;
    border-top: 2px solid #ff4081;
}
