<div class="big" *ngIf="messages" id="big">
  <h3>Conversations</h3>
  <ng-container *ngFor="let m of messages">
    <mat-card>
      <app-message-reactions [reactions]="m.reactions"></app-message-reactions>
      <div class="info">
        <app-profile-picture class="profile" [upn]="m.from.user ? m.from.user.id : 'a71c79e8-cc00-4bf2-9724-a34ee37242a2'"></app-profile-picture>
        <span *ngIf="m.from.user">{{m.from.user.displayName}}</span>
        <span *ngIf="!m.from.user && m.from.application">{{m.from.application.displayName}}</span>
        <span *ngIf="!m.from.user && !m.from.application">Unknown</span>
        <span class="datePosted">{{m.createdDateTime | date:'EEEE HH:mm'}}</span>
        <div class="spacer"></div>
      </div>
      <div class="message-body">
          <ng-container *ngIf="m.body.contentType === 'text' || (m.body.contentType === 'html' && !m.attachments.length) "><div [innerHTML]="m.body.content"></div></ng-container>
          <ng-container *ngIf="m.body.contentType === 'html' && m.attachments.length > 0">
            <ng-container *ngFor="let a of m.attachments">
              <div [ngSwitch]="a.contentType">
                <div *ngSwitchCase="'application/vnd.microsoft.card.thumbnail'">
                  <div class="teams-card">
                    <div *ngIf="inJSON(a.content).images"class="thumbnail">
                      <img [src]="inJSON(a.content).images[0].url | safe" alt="">
                    </div>
                    <div [innerHTML]="inJSON(a.content).title"></div>
                    <div [innerHTML]="inJSON(a.content).subtitle"></div>
                    <div [innerHTML]="inJSON(a.content).text"></div>
                  </div>
                </div>
                <!-- Adaptive Card -->
                <div *ngSwitchCase="'application/vnd.microsoft.card.adaptive'">
                  <div [innerHTML]="parseCard(a.content)"></div>
                </div>
                <!--Older 0365 format-->
                <div *ngSwitchCase="'application/vnd.microsoft.teams.card.o365connector'">
                  <div class="teams-card">
                      <div [innerHTML]="inJSON(a.content).title"></div>
                      <div [innerHTML]="inJSON(a.content).text"></div>
                    </div>
                </div>
                <!--Default-->
                <div *ngSwitchDefault>{{a.content}}</div>

              </div>
            </ng-container>
          </ng-container>

        </div>
      <div class="replies" *ngIf="replies[m.id] && replies[m.id].length">
        <div class="reply" *ngFor="let r of replies[m.id]">
          <div class="info">
            <app-profile-picture class="profile" [upn]="r.from.user ? r.from.user.id : 'a71c79e8-cc00-4bf2-9724-a34ee37242a2'"></app-profile-picture>
            <strong>{{r.from.user.displayName}}</strong>
            <span>{{r.createdDateTime | date:'short'}}</span>
            <div class="spacer"></div>
          </div>
          <div class="message-body">
            <ng-container *ngIf="m.body.contentType === 'text'">{{r.body.content}}</ng-container>
          </div>
        </div>
      </div>
      <button mat-button (click)="toQuote(m)">
        <mat-icon>reply</mat-icon>
        <span>Reply</span>
      </button>
    </mat-card>
  </ng-container>
</div>
